* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}
a {
  display: inline-block;
  text-decoration: none;
}
ul,
li,
a,
h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  margin: 0;
  padding: 0;
}
img {
  vertical-align: middle;
}

body {
  font-family: "Noto Sans TC", sans-serif;
  overflow-x: hidden;
}
/*------- Common Css End =============== */

/* --------NavBar Start--------- */

#Main_menu .navbar-brand {
  background-color: #43b97e;
}

#Main_menu {
  padding: 0 40px;
  position: relative;
}

#Main_menu .side_bar {
  position: absolute;
  height: 100vh;
  width: 0%;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.7);
  right: 0;
  top: 0;
  display: flex;
  justify-content: end;
  transition: 0.4s;
  visibility: hidden;
  overflow-y: hidden;
}
#Main_menu .show {
  width: 100%;
  opacity: 1;
  visibility: visible;
}

#Main_menu .side_bar .main {
  background-color: black;
  height: 100vh;
  width: 400px;
  color: gold;
  text-align: center;
  padding: 100px 40px;
  position: relative;
  top: 400px;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
}

#Main_menu .show .main {
  top: 0;
}

#Main_menu .side_bar .main button {
  position: absolute;
  background: none;
  color: gold;
  font-size: 30px;
  right: 20px;
  top: 20px;
}

/* DropDown Start*/
#Main_menu li {
  position: relative;
}

#Main_menu .main_menu_dropdown {
  position: absolute;
  width: 170px;
  left: -30px;
  top: 50px;
  background-color: #fff;
  padding: 40px;
  box-shadow: 0px 0px 10px rgb(0 0 0 / 10%);
  border-radius: 10px;
  visibility: hidden;
  opacity: 0;
  transition-delay: 0.4s;
}

#Main_menu li:hover .main_menu_dropdown {
  visibility: visible;
  opacity: 1;
  left: 0;
}

#Main_menu .main_menu_dropdown a {
  color: #000;
  font-size: 20px;
  font-weight: 300;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}
#Main_menu .main_menu_dropdown a span {
  color: #000;
  font-size: 20px;
  font-weight: 300;
  margin-left: -10px;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}
#Main_menu .main_menu_dropdown a:hover span {
  color: #43b97e;
}
#Main_menu .main_menu_dropdown a:hover .link {
  margin-left: 6px;
}

#Main_menu .main_menu_dropdown a .shawa {
  opacity: 0;
}
#Main_menu .main_menu_dropdown a:hover .shawa {
  opacity: 1;
}

/* DropDown End*/

/* --------NavBar End--------- */

/* --------Banner Start--------- */
#banner {
  padding: 150px 0;
}

#banner .banner-img {
  position: relative;
}
#banner .img-4 {
  position: absolute;
  left: 15px;
  bottom: -57px;
}

#banner .img-6 {
  position: absolute;
  right: -17px;
  bottom: -55px;
}
#banner .text {
  position: absolute;
  right: 20px;
  bottom: -11px;
  color: #ffffff;
  text-align: center;
  line-height: 1.7em;
  font-size: 24px;
}

#banner .animation-left-right {
  position: absolute;
  left: 130px;
  bottom: 116px;
  animation: left_right 5s linear infinite;
  -webkit-animation: left_right 5s linear infinite;
}

@keyframes left_right {
  0% {
    left: 130px;
    bottom: 114px;
  }
  50% {
    left: 170px;
    bottom: 114px;
  }
  100% {
    left: 130px;
    bottom: 114px;
  }
}
#banner .animation-spin {
  position: absolute;
  left: -36px;
  bottom: 172px;
  animation: spin 5s linear infinite;
  -webkit-animation: spin 8s linear infinite;
}
#banner .animation-spin-2 {
  position: absolute;
  right: -42px;
  bottom: 103px;
  animation: spin 5s linear infinite;
  -webkit-animation: spin 5s linear infinite;
}
@keyframes spin {
  100% {
    transform: rotate(160deg);
    -webkit-transform: rotate(160deg);
    -moz-transform: rotate(160deg);
    -ms-transform: rotate(160deg);
    -o-transform: rotate(160deg);
  }
}

#banner .animation-scel {
  position: absolute;
  left: 0;
  top: 0;
  animation: animation-scel 5s linear infinite;
  -webkit-animation: animation-scel 5s linear infinite;
}

@keyframes animation-scel {
  0% {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
  }

  50% {
    transform: scale(1);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
  }
  100% {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
  }
}

#banner .banner-text {
  position: relative;
}

#banner .banner-text p {
  position: absolute;
  top: 182px;
  right: 148px;
  color: #06092d;
  font-size: 16px;
  line-height: 1.8em;
  font-weight: 500;
  letter-spacing: 4px;
  text-transform: uppercase;
  -webkit-transition: all 1000ms ease;
  -moz-transition: all 100ms ease;
  -ms-transition: all 1000ms ease;
  -o-transition: all 1000ms ease;
  transition: all 1000ms ease;
}
#banner .banner-text h2 {
  position: absolute;
  top: 230px;
  left: 103px;
  color: #06092d;
  font-weight: 900;
  margin-right: 50px;
  line-height: 1.1em;
  -webkit-transition: all 1000ms ease;
  -moz-transition: all 100ms ease;
  -ms-transition: all 1000ms ease;
  -o-transition: all 1000ms ease;
  transition: all 1000ms ease;
}
#banner .banner_text_2 {
  position: relative;
}
#banner .banner_text_2 a {
  position: absolute;
  top: 433px;
  left: 106px;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  background: #43b97e;
  text-transform: uppercase;
  padding: 15px 40px;
  border-radius: 10%;
  -webkit-border-radius: 10%;
  -moz-border-radius: 10%;
  -ms-border-radius: 10%;
  -o-border-radius: 10%;
}
#banner .banner_text_2 a {
  position: relative;
}
#banner .banner_text_2 a::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 10px;
  height: 15px;
  width: 25px;
  background: url(../images/button-icon-one.png) no-repeat center;
}
/* --------Banner End--------- */
